
h1, h2, h4 {
    font-weight: bold;
}

.top {
    background-color: #234f4f;
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/780726501349348485/1C23C9A5544D13D88BC1DEF811C025250B5149BE/");
    background-size: 100%;
    background-position-y: 10%;
    background-repeat: no-repeat;
    height: 160px;
}

.welcome {
    background: inherit;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-filter: invert();
}


.collapse.navbar-collapse {
    background-image: url("https://i.pinimg.com/originals/ef/37/57/ef375738b5d3cc1bd9216f86c58148a9.gif");
    background-position: center;
}

.nav.navbar-nav li a, .glyphicon {
    color: white;
}

.nav.navbar-nav li a:hover, .glyphicon:hover {
    color: lightpink;
}

.login{
    text-align: center;
    background: url("https://i.pinimg.com/originals/91/34/9a/91349a8fb89a757e282d0be4e1868cbf.gif");
    background-size: 200%;
    background-position-y: 20%;
    background-position-x:50%;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 45%;
    color: darkslategrey;
    font-weight: bold;
}
    .login input {
        color: darkslategrey;
        font-weight: bold;
    }


.register{
    margin-top: 30px;
    text-align: center;
    width: 90%;
    background: url("https://i.pinimg.com/originals/91/34/9a/91349a8fb89a757e282d0be4e1868cbf.gif");
    background-size:100%;
    background-position-y:80%;
    border-radius: 10px;
    color:lightgrey;
    font-weight:bold;
}
    .register input {
        color: lightgrey;
        font-weight: bold;
    }

.add form, .info, .add, .log, table, tbody, tr, thead, tfooter {
    position: center;
    text-align: center;
    /*background-image: url("https://steamuserimages-a.akamaihd.net/ugc/939458259773568994/526D263D0B0A1ECC8DB638F7AD7A88D426645E03/");
    */
    background-image: url("https://pa1.narvii.com/7545/679546f2664e1fcf4d66bcad6d13aa0c11923545r1-500-300_hq.gif");
    border-radius: 10px;
    width: 75%;
    background-position: center;
    background-position-y: 80%;
    font-weight: bold;
}
.add form{
    background-repeat:no-repeat;
}
.add{
    background:transparent;
}

    .info label, .info h2, .info h4, .add label, .add h2, .log label, .log h2, .add form select, .add form input, th, td {
        background: inherit;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-filter: invert();
        font-weight: bold;
    }

        input, select, .add form select option {
            background: inherit;
            color: black;
            font-weight: bold;
        }

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: url("https://i.pinimg.com/originals/6e/b4/ac/6eb4ac426bd7a0d441b53344550bc7f0.gif");
    background-position-x: center;
    background-position-y:100%;
    background-attachment: fixed;
    font-family: arial;
}